.about,
img {
    -webkit-animation-delay: 0s;
    position: relative
}

.progress,
body,
footer {
    width: 100%
}

#resume,
.about,
.footer-nav,
footer,
img,
p {
    position: relative
}

.footer-nav,
body {
    font-family: Merriweather, serif
}

body {
    background-color: #EBEBEB
}

h1 {
    text-align: center;
    font-size: 2.8em
}

p {
    margin: 0 auto
}

.hamburger-label {
    font-weight: 600;
    display: block;
    color: #000
}

#navigation-menu {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(82, 72, 156, .8)
}

li {
    display: inline-block;
    font-size: 1.65em;
    padding: 10px
}

ul a {
    color: #FFF
}

a:hover {
    text-decoration: none;
    color: #d8d5de;
    opacity: .5
}

img {
    top: 20px;
    width: 17.5%;
    display: block;
    float: left;
    border-radius: 5%;
    -webkit-animation-name: imageDrop;
    -webkit-animation-duration: 1s;
    animation-name: imageDrop;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-delay: 0s
}

@keyframes imageDrop {
    0% {
        top: -300px
    }
    100% {
        top: 20px
    }
}

@-webkit-keyframes imageDrop {
    0% {
        top: -300px
    }
    100% {
        top: 20px
    }
}

.about {
    -webkit-animation-name: about;
    -webkit-animation-duration: 4s;
    animation-name: about;
    animation-duration: 1.75s;
    animation-delay: 0s;
    font-size: 1.5em;
    line-height: 1.7
}

.job-description,
.name-text {
    text-align: center;
    position: relative;
    margin-top: 15px;
    font-size: 1.75em;
    -webkit-animation-name: about;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-delay: 0s;
    animation-name: about;
    animation-duration: .5s;
    animation-delay: 0s
}

@keyframes about {
    0% {
        transform: translateX(-1500px)
    }
    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes about {
    0% {
        transform: translateX(-1500px)
    }
    100% {
        transform: translateX(0)
    }
}

.about-para-one,
.about-para-two {
    margin-top: 15px;
    text-indent: 50px
}

.progress {
    background-color: #c2c4c4
}

.progress.active .progress-bar {
    -webkit-transition: none!important;
    transition: none!important
}

.progress-bar-success {
    background-color: #695992
}

.companyName {
    font-weight: 500;
    font-size: 1.95em
}

.jobTitle {
    font-style: italic;
    font-size: 1.5em
}

.date {
    text-align: right;
    bottom: 3em;
    font-size: 1.45em
}

.description {
    font-size: 1.25em;
    margin-top: -20px
}

hr {
    border-top: 3px solid #000;
    margin: 1em 0
}

#email {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px
}

footer {
    height: 190px;
    top: 80px;
    background-color: rgba(82, 72, 156, .77)
}

.footer-nav {
    top: 20px;
    margin-left: 50px;
    font-size: 1.15em;
    color: #fff
}

#foot-text,
#lynda-text {
    margin-bottom: 30px
}

.footer-links {
    color: #fff;
    text-decoration: underline
}

p a:hover {
    color: #bcb7c9
}

@media (max-width:330px) {
    .footer-nav {
        font-size: 1em
    }
}

@media (max-width:645px) {
    #resume,
    .about,
    .date,
    .job-description,
    .jobTitle {
        position: relative
    }
    .navbar {
        margin-bottom: 0
    }
    .navbar-header {
        background-color: rgba(82, 72, 156, .77)
    }
    p.about.about-para-one {
        margin-top: 30px;
        position: relative
    }
    img {
        width: 35%;
        margin: 0 auto;
        float: none
    }
    .job-description {
        text-align: center;
        margin-top: 15px;
        font-size: 1.85em
    }
    h1#skills {
        margin-top: 15px
    }
    h1#resume-title {
        margin-top: 10px
    }
    h3 {
        font-size: 1.15em
    }
    p.description {
        margin-top: 12px;
        text-indent: 50px
    }
    .companyName {
        font-size: 1.5em
    }
    .date,
    .jobTitle {
        top: 3px;
        text-align: left;
        font-size: 1.15em
    }
    .about {
        font-size: 1.25em
    }
    .about.intro {
        margin: 0
    }
    #email {
        font-size: 1.3em
    }
    #navigation-menu {
        display: none
    }
    .footer-nav {
        margin-left: 0;
        text-align: center
    }
}

@media screen and (min-width:645px) {
    .pos-f-t {
        display: none
    }
    #hamburger-navigation {
        font-size: 5px;
        color: #000
    }
}
